.pull-right
  = link_to raw("<span class='fa fa-plus'></span> New Article"), new_admin_article_path, class: 'btn btn-purple'
%h3 All Articles

.table-responsive.table.bordered.col-md-12
  %table.table-striped.col-md-12
    %thead
      %tr
        %th #
        %th Title
        %th Author
        %th Created At
        %th Published At
        %th Tasks
    %tbody
      - @articles.each do |article|
        %tr.danger
          = render partial: article
