%nav.navbar.navbar-default.navbar-top.navbar-fixed-top{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => "index.html"}
      .brand-logo
        %span.atom ⚛
        Quark
      .brand-logo-collapsed
        .span.atom ⚛
  .nav-wrapper
    %ul.nav.navbar-nav
      %li
        %a.hidden-xs{data: {"toggle-state" => "aside-collapsed"}, href: "#", title: 'Collapse Menu'}
          %em.fa.fa-navicon
        %a.visible-xs{"data-toggle-state" => "aside-toggled", :href => "#"}
          %em.fa.fa-navicon
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to raw('<i class="fa fa-user"></i> Edit Profile'), edit_admin_profile_path, title: 'Edit Profile'
      %li
        = link_to raw("<i class='fa fa-power-off'></i> Log Out"), destroy_user_session_path, method: :delete, title: 'Log Out'
