%aside.aside
  %nav.sidebar
    .item.user-block
      .user-block-picture
        .user-block-status
          %img.img-thumbnail.img-circle{:alt => "Avatar", :height => "60", :src => "app/img/user/02.jpg", :width => "60"}/
          .circle.circle-success.circle-lg
      .user-block-info
        %span.user-block-name.item-text Welcome User
        %span.user-block-role= current_user.name.split(' ').first
    %ul.nav
      / START Menu
      %li.nav-heading Main navigation
      %li
        %a.no-submenu{"data-toggle" => "", :href => "/admin/dashboard", :title => "Dashboard"}
          %em.fa.fa-dot-circle-o
          .label.label-primary.pull-right 10
          %span.item-text Dashboard
      %li.active
        %a.no-submenu{"data-toggle" => "", :href => "/admin/articles", :title => "Articles"}
          %em.fa.fa-edit
          %span.item-text Articles
      - if current_user.has_role?(:admin)
        %li
          %a.has-submenu{"data-toggle" => "collapse-next", :href => "/admin/pages", :title => "Elements"}
            %em.fa.fa-flask
            %span.item-text Pages
        %li
          %a.has-submenu{"data-toggle" => "", :href => "/admin/users", :title => "Forms"}
            %em.fa.fa-users
            %span.item-text Users
        %li
          %a.no-submenu{"data-toggle" => "collapse-next", :href => "/admin/settings", :title => "Settings"}
            %em.fa.fa-cogs
            %span.item-text Settings
        / END SubMenu item
      / END Menu
  / END Sidebar (left)
/ End aside