/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require font-awesome
 */
body {
  background-color: #fff;
 /*  font: 400 15px 'PT Sans',Arial,sans-serif !important; */
  font:  400 14px Montserrat,arial,sans-serif !important;
}

a { color: #7266ba !important;}
a:hover { color: #7266ba; text-decoration: underline;}

#logo {
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    background: #fff;
    color: #7266ba;
    font-size: 2.8em;
    font-family: 'Grand Hotel';
    font-weight: bold;
    display: table-cell;
    /*padding: 0px 22px 8PX 22px;*/
    padding: 0px 15px;
    line-height: 90PX;
    text-align: center;
    vertical-align: middle;
}
.brand-text {
  color: #fff;
  font-family: 'PT Sans Narrow';
  font-size: 3em;
}
.brand-text .upper {
  font-family: 'Grand Hotel';
}

.navbar {
  /* font: 400 14px Montserrat,Arial,Sans-Serif; */
  font: 400 14px 'PT Sans';
  padding: 10px 0px !important;
  box-shadow: 0px 4px 24px -6px #777777;
  background: #7266ba !important;
}
.navbar-brand { color: #7266ba !important; }
.navbar-brand:hover { color: #7266ba !important;}
.navbar-brand span.tagline { display: block; font-size: .8em; text-transform: none;}
.navbar li a { color: #fff !important; background: transparent;}
.navbar li a:hover { color: #fff !important; }

h3 { color: #656565; font: 700 26px Montserrat,arial,sans-serif; margin: 15px 0;}
section { background-color: #fff;}

li.active a { background-color: transparent !important; border-bottom: 1px solid #fff;  color: #fff !important;}
footer {
  border-top: #777;
  clear: all;
  box-shadow: 0px 4px 24px -6px #777777;
  padding: 90px;
  background-color: rgba(0,0,0, 0.7);
}
footer .background  {
  background: url("http://static8.depositphotos.com/1008054/832/v/450/depositphotos_8325371-Science-School-Notebook-Doodles-Vector-Icon-Set.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0.55;
}
footer h3 { font-size: 1.3em; color: #fff; margin: 0 0 25px; font-weight: 400; text-transform: uppercase;}
footer ul { list-style-type: none; margin-left: 0px; padding-left: 0px;}
footer ul li { padding: 10px 0px; }
footer ul li a { color: #9f9f9f; }
footer ul li a:hover { color: #fff; }
section { padding: 100px 0;}
a { color: #c4c4c4; }
a:hover { color: #7266ba; text-decoration: none; }
article { padding: 15px; }
article .image { margin-bottom: 30px; max-height: 192px; height: 192px; overflow: hidden; }
article .image img { }
article p { font: 400 16px Lora,arial,serif;
          line-height: 29px;}
article .category a { text-transform: uppercase; }
article h3 a { color: #656565; font: 700 26px Montserrat,arial,sans-serif; margin: 15px 0;}
article .meta {
  margin: 15px 0 25px;
  color: #c4c4c4;
  font-weight: 600;
  font-size: 14px;
}
article .meta a { color: #c4c4c4; }
article .meta a:hover { color: #787878; text-decoration: none;}
article .actions {
  margin-top: 30px;
}
article .actions a.read {
  text-transform: uppercase;
  border: 1px solid #e8e8e8;
  color: #5b5b5b;
  display: inline-block;
  padding: 9px 30px 7px;
}
article .actions a.read:hover {
  background-color: #7266ba !important;
  color: #fff;
}
article .actions .social {
  opacity: .3;
}
.social_solid {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
  text-align: center;
  margin-bottom: 15px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
.twitter, .facebook, .google-plus, .reddit { color: #fff !important;}
.brand-text { vertical-align: middle; margin-top: -30px; display: inline-block; font-size: 2.5em;}
.sidebar { background: #fff !important;}
.content h4 { text-transform: uppercase; }
.sidebar { border-left: 1px solid #ededed; padding-left: 3%; padding-right: 3%;}
.sidebar h3 { text-transform: uppercase; color: #b1b1b1; font-weight: 400; font-size: 18px; font-family: Montserrat,arial,sans-serif; letter-spacing: 2px;}
.sidebar .widget { padding: 55px 0; border-bottom: 1px solid #ededed;}
.sidebar .widget .btn-share { padding: 12px 20px 9px; width: 47%; color: #fff; text-transform: uppercase; letter-spacing: 2px; margin: 3px;}
.sidebar .widget .twitter { background-color: #55acee; }
.sidebar .widget .facebook { background-color: #3b5998; }
.sidebar .widget .google-plus{ background-color: #dd4b39; }
.sidebar .widget .reddit { background-color: #5f99cf; }
