.pull-right
  = link_to raw("<span class='fa fa-plus'></span> Invite User"), new_admin_user_path, class: 'btn btn-purple'
%h3 Users

.table-responsive.table.bordered.col-md-12
  %table.table-striped.col-md-12
    %thead
      %tr
        %th #
        %th Name
        %th Email
        %th Member Since
        %th Tasks
    %tbody
      - @users.each do |user|
        %tr.danger
          = render partial: user

%br
%br

%h3 Invited Users
.table-responsive.table.bordered.col-md-12
  %table.table-striped.col-md-12
    %thead
      %tr
        %th #
        %th Name
        %th Email
        %th Invited On
        %th Tasks
    %tbody
      - @invited_users.each do |user|
        %tr.danger
          = render partial: user