!!!
/[if lt IE 7] <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="ie ie7 lt-ie9 lt-ie8"        lang="en">
/[if IE 8] <html class="ie ie8 lt-ie9"               lang="en">
/[if IE 9] <html class="ie ie9"                      lang="en">
/ [if !IE]><!
%html.no-ie{:lang => "en"}
  / <![endif]
  %head
    / Meta
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", :name => "viewport"}/
    %title BeAdmin - Bootstrap Admin Theme
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9] <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    / START wrapper
    .row.row-table.page-wrapper
      .col-lg-3.col-md-6.col-sm-8.col-xs-12.align-middle
        / START panel
        .panel.panel-dark.panel-flat{"data-offset" => "0", "data-play" => "fadeIn", "data-toggle" => "play-animation"}
          .panel-heading.text-center
            %a{:href => "#"}
              %span.atom ⚛
              Quark
          .panel-body
            = yield
        / END panel
    / END wrapper
    / START Scripts
    / Main vendor Scripts
    = javascript_include_tag 'animo.min.js', 'pages'